<div class="row">
    <div class="col-md-4"></div>
    <div class="container col-md-4">
        <%#= form_tag "/write", method: "post" do %>
        <% if user_signed_in? %>
          <form method="POST" action="/write">
            <div class="form-group">
              <label class="title" for="exampleInputNickName">Nickname</label>
              <input name="nickname" id="nickname" type="text" class="form-control" placeholder="Input your nickname"/>
              <label class="title" for="exampleInputStroy">Story</label>
              <textarea name="content" id="content" class="form-control" rows=10 placeholder="Inpu your Story"></textarea>
            </div>
              <button type="submit" class="btn btn-default btn-lg btn-block">Send(registed User)</button>
              <button type="button" id="reply" class="btn btn-success btn-lg btn-block" onclick="location.href='/reply'">Reply</button>
              <button type="button" id="mypage" class="btn btn-warning btn-lg btn-block" onclick="location.href='/search'">MyPaper</button>
          </form>
        <% else %>
          <form method="POST" action="/write_un">
            <div class="form-group">
              <label class="title" for="exampleInputNickName">Nickname</label>
              <input name="nickname" id="nickname" type="text" class="form-control" placeholder="Input your nickname"/>
              <label class="title" for="exampleInputStroy">Story</label>
              <textarea name="content" id="content" class="form-control" rows=10 placeholder="Inpu your Story"></textarea>
            </div>
              <button type="submit" class="btn btn-default btn-lg btn-block">Send(unregisted User)</button>
              <button type="button" id="reply" class="btn btn-success btn-lg btn-block" onclick="location.href='/reply'">Reply</button>
              <button type="button" id="mypage" class="btn btn-warning btn-lg btn-block" onclick="location.href='/search'">MyPaper</button>
          </form>
        <% end %>
    </div>
    <div class="col-md-4"></div>
</div>