<div class="row">
    <div class="col-md-4"></div>
    <div class="container col-md-4">
      <h1 id="title">My Paper</h1>
      <div class="form-group">
        <label class="title" for="exampleInputNickName">Nickname</label>
        <input name="nickname" id="nickname" type="text" class="form-control" value="<%= @paper.nickname %>" disabled="disabled"/>
        <label class="title" for="exampleInputStroy">Story</label>
        <textarea name="content" id="content" class="form-control" rows=10 disabled="disabled"><%= @paper.content %></textarea>
      </div>
      <button type="button" class="btn btn-default btn-lg btn-block" onclick="location.href='../update_view/<%= @paper.id %>'">Update</button>
      <button type="button" id="back" class="btn btn-success btn-lg btn-block" onclick="history.back();">Back</button>
      </div>
    <div class="col-md-4"></div>
</div>