<div class="row">
    <div class="col-md-3"></div>
    <div id="displaybox" class="col-md-6">
        <a id="home" href="/"><img id="smile" src="<%= asset_path("smile.jpg") %>"/></a>
        <h3 id="getid">Id : <%= @temp_paper_id %></h3>
        <h3 id="getpw">Password : <%= @pw %></h3>
    </div>
    <div class="col-md-3"></div>
</div>