<div class="row">
    <div class="col-md-3"></div>
    <div id="displaybox" class="col-md-6">
        <a id="home" href="/"><img id="airplane" src="<%= asset_path("airplane.png") %>"/></a>
        <p class="message">편지를 날려 보냈습니다. 답장을 기대해 주세요.</p>
    </div>
    <div class="col-md-3"></div>
</div>